body {
  background-color:lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  margin-left:15%;
  margin-right:15%;
  margin-top:5%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.imgDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selfieImg{
  height: 100%;
  width: 100%;
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  box-shadow: 2px 0px 10px 0px darkgrey;
  border-radius: 20px 20px 0px 0px;
  z-index: 100;
}

.contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
  padding-left: 1em;
  padding-right: 1em;
 

}

h1{
  text-align: center;
}

h2 {
  color: rgb(70, 66, 66);
  text-align: center;
}

p{
  text-align: center;
}

.buttonsDiv{
  margin-top:60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.buttons{
  padding:5px;
  padding-bottom:2px;
  min-width:100px;
  min-height: 35px;
  margin-left: 2px;
  border-radius:15px;
  justify-content: center;
  text-decoration: none;
}

#linkedin-button{
    background-color: lightblue;
    text-align: center;
}
#Email-button{
  background-color: lightcoral;
  text-align: center;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  width: 120%;
  background-color: darkgoldenrod;
  box-shadow: 0px 0px 10px 0px darkgray;
  margin-bottom: 0;
 
}
.footerLinks{
     text-decoration: none;
     margin:2rem;
     font-size:200%;
}

@media (min-width: 1024px) {
  .selfieImg{
    min-width: 101%;
  }
  .contents{
    font-size: 150%;
  }
  .footer{
    min-width: 130%;
  }
  .footerLinks{
    margin:5rem;
    font-size: 400%;
  }
}
@media (min-width:1440px){
  .footer{
    margin-top: 62%;
  }
}